<mat-card>
  <p> <span>Name:</span> <span>{{ card.name }}</span> </p>
  <p> <span>Url:</span> <span>{{ card.url }} </span> </p>
  <p> <span>Username:</span> <span>{{ card.username }}</span> </p>
  <p> <span>Password:</span> <span [ngClass]="{'hidden-password': !passwordVisible}">{{ passwordVisible ? card.password : '********' }}</span> </p>
  <div class="icon-list">
    <button mat-mini-fab color="primary" type="button" (click)="editCard()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab color="primary" type="button" (click)="toggleVisibility()">
      <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <button mat-mini-fab color="primary" type="button" (click)="deleteCard()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab color="primary" type="button" (click)="copyToClipboard()">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</mat-card>
