<form [formGroup]="passwordCardForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" id="name">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>URL</mat-label>
    <input matInput type="text" formControlName="url" id="url">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="smaller-field">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username" id="username">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="smaller-field">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" id="password">
  </mat-form-field>
  <br/>
  <button mat-flat-button color="primary" type="submit">Submit</button>
</form>
