<form [formGroup]="passwordCardForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" id="name">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>URL</mat-label>
    <input matInput type="text" formControlName="url" id="url">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="smaller-field">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username" id="username">
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="smaller-field">
    <mat-label>Password</mat-label>
    <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password" id="password">
  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="toggleVisibility()" type="button">
    <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <button mat-mini-fab color="primary" (click)="copyToClipboard()" type="button">
    <mat-icon>content_copy</mat-icon>
  </button>
  <br/>
  <button mat-flat-button color="primary" type="submit">Submit</button>
</form>
